<h2 mat-dialog-title>{{'Edit Crew' | translate}}</h2>
<mat-dialog-content style="display: flex; flex-direction: column;">

  <mat-tab-group>
    <mat-tab [label]="getTranslation('Crew')" style="color: white !important;">
      <div style="display: flex; flex-direction: column;">
        <mat-form-field>
          <mat-label style="color: white !important;">{{'First Name' | translate}}</mat-label>
          <input matInput [(ngModel)]="crewData.firstName">
        </mat-form-field>
      
        <mat-form-field>
          <mat-label style="color: white !important;">{{'Last Name' | translate}}</mat-label>
          <input matInput [(ngModel)]="crewData.lastName">
        </mat-form-field>
      
        <mat-form-field>
          <mat-label style="color: white !important;">{{'Nationality' | translate}}</mat-label>
          <input matInput [(ngModel)]="crewData.nationality">
        </mat-form-field>
      
        <mat-form-field>
          <mat-label style="color: white !important;">{{'Days On Board' | translate}}</mat-label>
          <input matInput type="number" [(ngModel)]="crewData.daysOnBoard" (change)="onChangeDaysOnBoardOrRate()">
        </mat-form-field>
      
        <mat-form-field>
          <mat-label style="color: white !important;">{{'Daily Rate' | translate}}</mat-label>
          <input matInput type="number" [(ngModel)]="crewData.dailyRate" (change)="onChangeDaysOnBoardOrRate()">
        </mat-form-field>
      
        <mat-form-field>
          <mat-label style="color: white !important;">{{'Currency' | translate}}</mat-label>
          <input matInput [(ngModel)]="crewData.currency">
        </mat-form-field>
      
        <mat-form-field>
          <mat-label style="color: white !important;">{{'Total Income' | translate}}</mat-label>
          <input matInput disabled type="number" [(ngModel)]="crewData.totalIncome">
        </mat-form-field>
      </div>
      
    </mat-tab>
    <mat-tab [label]="getTranslation('Certificates')" style="color: white !important;">
      <mat-list role="list" style="width: 100%;">
        @for (item of crewData.certificates; track item.name) {
          <mat-list-item role="listitem"><div style="display: flex; gap: 16px;"><span>{{item.name}}</span><span>{{item.date | date}}</span></div></mat-list-item>
        }
          
      </mat-list>
      <mat-divider></mat-divider>
      <p>{{'Add Certificate' | translate}}</p>
      <mat-form-field>
        <mat-label style="color: white !important;">{{'Certificate' | translate}}</mat-label>
        <input matInput [(ngModel)]="newCertificate.name">
      </mat-form-field>
      <mat-form-field>
        <mat-label style="color: white !important;">{{'Date' | translate}}</mat-label>
        <input matInput type="date" [(ngModel)]="newCertificate.date">
      </mat-form-field>
      <button mat-icon-button (click)="addCertificate()"><mat-icon>add</mat-icon></button>

    </mat-tab>
  </mat-tab-group>
  
  
</mat-dialog-content>
<mat-dialog-actions style="display: flex; justify-content: flex-end;">
  <button mat-button color="primary" style="color: white !important;" (click)="onClickOK()">{{'Edit' | translate}}</button>
  <button mat-button color="warn" (click)="onClickCancel()">{{'Cancel' | translate}}</button>
  
</mat-dialog-actions>